<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Captive Portal</title>
    <style>
      body {
        background-color: #000;
        margin:0;
        color: white;
      }

      .button{
        width: 100%;
        padding:.5em;
        background-color: #deab04;
        color: #fff;
      }
    </style>
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script>
        function SaveTimeZone() {
            $.post("{{ url_for('save_config') }}", { timezone: dpdTimeZone.value }, function(data, status) { alert("Save timezone " + dpdTimeZone.value + "\nStatus: " + status); });
        }

        function SaveWiFi() {
          $.post("{{ url_for('save_credentials') }}", { ssid: dpdWiFiSsid.value, password: txtWiFiPassword.value }, function(data, status) { alert("The hotspot will shut down, you can reconnect to the Captive Portal after your computer reconnects to your WiFi network " + dpdWiFiSsid.value + ".\nStatus: " + status); });
        }

        function Update() {
          $.post("{{ url_for('update') }}", function(data, status) { alert("Update result. Captive Portal will be shut down.\n" + data + "\nStatus: " + status); });
        }

        function StopPortal() {
          $.post("{{ url_for('stop_portal') }}", function(data, status) { alert("Captive Portal will be shut down.\n" + data + "\nStatus: " + status); });
        }

        function Reboot() {
          $.post("{{ url_for('reboot') }}", function(data, status) { alert("Rebooting. Captive Portal will be shut down.\nStatus: " + status); });
        }
    </script>
  </head>
  <body>
    <form  method=post>
      <table>
        <tr>
          <td>Select Time Zone:</td>
          <td>
            <select id="dpdTimeZone">
              <option value='America/New_York'>America/New_York</option>
              <option value='America/Chicago'>America/Chicago</option>
              <option value='America/Denver'>America/Denver</option>
              <option value='America/Phoenix'>America/Phoenix</option>
              <option value='America/Los_Angeles'>America/Los_Angeles</option>
              <option value='America/Anchorage'>America/Anchorage</option>
              <option value='America/Adak'>America/Adak</option>
              <option value='Pacific/Honolulu'>Pacific/Honolulu</option>
              <option value='America/St_Johns'>America/St_Johns</option>
              <option value='America/Halifax'>America/Halifax</option>
              <option value='America/Toronto'>America/Toronto</option>
              <option value='America/Regina'>America/Regina</option>
              <option value='America/Winnipeg'>America/Winnipeg</option>
              <option value='America/Edmonton'>America/Edmonton</option>
              <option value='America/Whitehorse'>America/Whitehorse</option>
              <option value='America/Vancouver'>America/Vancouver</option>
            </select>    
          </td>
        </tr>
        <tr><td colspan="2"><input type="button" value="Save Timezone" class="button" onclick="SaveTimeZone();" formaction="{{ url_for('save_config') }}"></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
          <td>Select WiFi:</td>
          <td>
            <select id="dpdWiFiSsid">
              {% for ssid in wifi_ap_array %}
                <option value='{{ ssid }}'>{{ ssid }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr><td>WiFi Password:</td><td><input type="password" id="txtWiFiPassword"></td></tr>
        <tr><td colspan="2"><input type="button" value="Save WiFi" class="button" onclick="SaveWiFi();"></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td colspan="2"><input type="button" class="button" value="Update" onclick="Update();"></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td colspan="2"><input type="button" class="button" value="Shutdown Portal" onclick="StopPortal();"></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td colspan="2"><input type="button" class="button" value="Reboot" onclick="Reboot();"></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
      </table>
    </form>
    <script>
      var dpdTimeZone = document.getElementById('dpdTimeZone');
      var dpdWiFiSsid = document.getElementById('dpdWiFiSsid');
      var txtWiFiPassword = document.getElementById('txtWiFiPassword');
    </script>
  </body>
</html>
